/* ----------------------------------Header Start ---------------------------------*/
.container1{
    display: flex;
    justify-content: center;
}
.header-style-left{
    width:50%;
    margin-right: 2px;
    padding:40px;
}
.header-style-left h1{
    font-size: 10vh;
}
.header-style-left p{
    font-size: 3vh;
}
.header-style-left a{
    text-decoration: none;
    background-color: red;
    padding:5px;
    border-radius: 5px;
    color: white;
}
.header-style-left a:hover{
    background-color: darkgray;
}

.header-style-right{
    width:50%;
    
}
.header-style-right img{
    width:100%;
    height: 100%;

}
.header-style{
    display: flex;
    color:white;
    width: 85%;
    height:85%;
    top: 50px;
    background-color: #161616;
    border-radius: 10px;
}

/*------------------------------------------- Header End----------------------------------- */


/* main start */
.container2{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.blog-section{
    display:flex;
    justify-content: center;
    width: 85%;
    height:85%;
}
.blog{
    width:20%;
    height:80%;
    background-color: #161616;
    margin-right: 10px;
    border-radius: 5px;
}
.link{
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height:100%;  
}
.link input{
    margin: 10px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
}
#color-red{
    background-color: red;
}
.blog-video{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:0;
    margin: 0;
}
.blog-video img{
    width:100%;
}
.blog-video-style{
    border:1px solid darkgray;
    margin: 10px;
    border-radius: 10px;
}
.blog-video-style input{
    margin-left:5px;
    margin-top: 5px;
}
.blog-video-style h3, pre{
    padding:5px;
}
.viewall-button{
    display: none;
}
/* Footer style */
.footer-style{
    width:100%;
    height:200px;
    color: white;
    background-color: #161616;
    text-align: center;   
}

.footer-style hr{
    color:darkgray;
    display:flex;
    justify-content: center;
    width:70%;
}
.footer-design{
    display: flex;
    justify-content: space-evenly;
}
/* Media query */
@media screen and (max-width:576px) {
    .header-style{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header-style-left{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .header-style-right{
        display:flex;
        justify-content: center;
    }
    .blog{
        height: 100%;
        width:100%;
        background-color: white;
    }
    .blog-section{
        display: flex;
        flex-direction: column;
    }
    .blog-video{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .footer-design{
       display: block;
       
    }
    .footer-style{
        width:100%;
        height:300px;
        color: white;
        background-color: #161616;
    }
    
    
}
@media screen and (min-width:577px) and (max-width:992px) {
   .blog{
        height: 100%;
        width:100%;
        background-color: white;
   }
    .link{
        text-align: center;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .input-resize{
        height:30%;
        width:30%;
        padding:20px;

    }
    .blog-section{
        display: flex;
        flex-direction: column;
    }
    .blog-video{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .viewallbutton{
        display: flex;
        justify-content: center;
    }
    .viewall-button{
        display:block;
       background-color: red;
       padding:15px;
       border-radius: 5px;
    }

    .footer-design{
        display: flex;
        flex-wrap: wrap;
        
     }
     .footer-style{
         width:100%;
         height:300px;
         color: white;
         background-color: #161616;
     }

    
}

