/* ----------------------------------Header Start ---------------------------------*/
.container1{
    display: flex;
    justify-content: center;
}
.header-style-left{
    width:50%;
    margin-right: 2px;
    padding:40px;
}
.header-style-left h1{
    font-size: 10vh;
}
.header-style-left p{
    font-size: 3vh;
}
.header-style-left a{
    text-decoration: none;
    background-color: red;
    padding:5px;
    border-radius: 5px;
    color: white;
}
.header-style-right{
    width:50%;
    
}
.header-style-right img{
    width:100%;
    height: 100%;

}
.header-style{
    display: flex;
    color:white;
    width: 85%;
    height:85%;
    top: 50px;
    background-color: #161616;
    border-radius: 10px;
}

/*------------------------------------------- Header End----------------------------------- */


/* main start */
.container2{
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
}
.blog-section{
    display:flex;
    justify-content: center;
    width: 85%;
    height:85%;
}
.blog{
    width:20%;
    height:80%;
    background-color: #161616;
    margin-right: 10px;
    border-radius: 5px;
}
.link{
    text-align: center;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    height:100%;  
}
.link input{
    margin: 10px;
    font-weight: 700;
    text-align: center;
    border-radius: 5px;
}
#color-red{
    background-color: red;
}
.blog-video{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    padding:0;
    margin: 0;
}
.blog-video img{
    width:100%;
}
.blog-video-style{
    border:1px solid darkgray;
    margin: 10px;
    border-radius: 10px;
}
.blog-video-style input{
    margin-left:5px;
    margin-top: 5px;
}
.blog-video-style h3, pre{
    padding:5px;
}
.footer-style{
    width:100%;
    height:200px;
    color: white;
    background-color: #161616;
    text-align: center;   
}
.footer-style p{
    display: flex;
    justify-content: space-between;
}
.footer-style hr{
    color:darkgray;
    display:flex;
    justify-content: center;
    width:70%;
}
.footer-design{
    display: flex;
    justify-content: space-evenly;
}